# Python bytecode
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environments
.env
.venv
env/
venv/
ENV/

# Data files (It is best practice not to upload large CSVs directly)
Sales Report.csv
*.csv
*.xlsx

# Plots and figures
*.png
*.jpg
*.jpeg
